.actionBarWrap {
    width: 100%;
    height: 55px;
    padding: 0 20px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    z-index: 1;
}
.gridToolboxWrap {
    padding: 0 20px;
}
.tableWrap {
    margin: 10px 20px 0 20px;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}
.tableWrap th,
.tableWrap td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.paginationWrap {
    height: 30px;
    display: block;
    margin: 10px 20px;
}

@media only screen and (min-device-width: 280px) and (max-device-width:  1365px) {
    .tableWrap table, thead,  th, td, tr {
        display: block;
    }

    .tableWrap table {
        border: none !important;
    }

    .tableWrap thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        border: 1px solid #ccc;
    }

    .tableWrap tbody {
        display: table;
        width: 100%;
    }

    .tableWrap tr:nth-of-type(odd) {
        background: #f7f7f7;
      }

    .tableWrap td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        white-space: break-spaces;
    }

    .tableWrap td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .tableWrap td:before { content: attr(data-title); }

    .actionBarWrap {
        height: auto;
    }
  }

  @media only screen and (min-device-width: 280px) and (max-device-width:  420px) {
    .tableWrap {
        width: 30%;
    }

    .paginationWrap {
        width: 30%;
    }
  }

  @media only screen and (min-device-width: 421px) and (max-device-width: 429px) {
    .tableWrap {
        width: 45%;
    }

    .paginationWrap {
        width: 47%;
    }
}

  @media only screen and (min-device-width: 430px) and (max-device-width:  589px) {
    .tableWrap {
        width: 55%;
        margin: 13px 20px;
    }

    .paginationWrap {
        width: 55%;
        margin: 13px 20px;
    }
  }

  @media only screen and (min-device-width: 590px) and (max-device-width:  699px) {
    .tableWrap {
        width: 70%;
    }

    .paginationWrap {
        width: 70%;
        margin: 13px 20px;
    }
  }

  @media only screen and (min-device-width: 700px) and (max-device-width:  800px) {
    .tableWrap {
        width: 80%;
    }

    .paginationWrap {
        width: 80%;
        margin: 13px 20px;
    }
  }